<div class="container">
    <div class="title-container">
        <h2 class="title"><%= @article.title %></h2>
        <i class="fas fa-pencil-alt"></i>
        <i class="fas fa-trash-alt"></i>
    </div>
    
    <p class="content"><%= @article.content %></p>
</div>
